<div class="body">
    <h1>About The Oakland Men's Volleyball Club</h1>
    <div class="outer-about-container">
        <div class="inner-container">
            <div class="about-content">
                <h3>About Us</h3>
                <p>
                    We're just a bunch of dudes that love volleyball. We're dedicated to growing the community
                    and raising the bar for men's volleyball. If you love volleyball, come join us!
                </p>
        
            </div>
        </div>
        
        <div class="inner-container">
            <h3>Practice Times and Tryouts for Fall 2025</h3>
            <div class="practice-times">
                <p>Practices will be held every Monday and Wednesday from 5:00 PM to 7:00 PM at the Oakland University Rec Center.</p>
                <p>Tryouts for the Fall 2025 season will take place on Wednesday, September 13th and Monday, September 18th, from 5:00 PM to 7:00 PM. All skill levels are welcome!</p>
            </div>
        </div>
        
        <div class="flex-row">
            <div class="inner-container">
                <h3>Gallery</h3>
                <div class="gallery-container">
                    <app-gallery></app-gallery>
                </div>
            </div>

            <div class="inner-container">
                <h3>Awards</h3>
                <h5>Congratulations to Our MIVA Nominated Athletes!</h5>
                <ul>
                    <li>2025 MIVA All-Conference Gold Team: Kaeden Bryer, Outside Hitter</li>
                    <li>2025 MIVA All-Conference Gold Team: Andrew Hatch, Middle Blocker</li>
                    <li>2025 MIVA All-Conference Silver Team: Anthony Le, Setter</li>
                    <li>2025 MIVA All-Conference Silver Team: Matthew Kozel, Opposite</li>
                    <li>2025 MIVA All-Conference Silver Team: Alex Fillmore, Libero</li>
                    <li>2025 MIVA Honorable Mention: Haseeb Ahmed, Middle Blocker</li>
                </ul>
            </div>
        </div>
        
        
        
    </div>


</div>