<div class="body">
    <h1>About The Oakland Men's Volleyball Club</h1>

    <div class="about-content">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil eveniet, quibusdam vel non aspernatur blanditiis ducimus. Nobis pariatur suscipit, dicta aspernatur nihil asperiores sint facere qui quibusdam, aliquam quo veritatis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta inventore consectetur eos ipsum unde aliquam molestias natus ut voluptatum. Ex, laborum. Quidem, aliquam quam! Et repellendus maiores ratione quod culpa?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A dolorem at possimus non qui, aperiam maiores nesciunt adipisci numquam voluptatem? Non, in iste. Quasi vero iure voluptatibus ab possimus esse?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores itaque pariatur quo, ipsam praesentium eveniet ipsum sint odio omnis fuga sit earum, tempore quibusdam consectetur temporibus, ducimus laudantium officia tempora.
        </p>

    </div>

    <h3>Practice Times and Tryouts for Fall 2025</h3>
    <div class="practice-times">
        <p>Practices will be held every Tuesday and Thursday from 6:00 PM to 8:00 PM at the Oakland Community Center.</p>
        <p>Tryouts for the Fall 2025 season will take place on August 15th and 16th from 5:00 PM to 7:00 PM. All skill levels are welcome!</p>
    </div>

    <h3>Gallery</h3>
    <app-gallery></app-gallery>


</div>