<div class="body">
    <h1>Contact Us</h1>

    <div id="eboard-container" class="card">
        <h2>2025-2026 Eboard</h2>
        <div class="flex-row">
            <div class="eboard-member">
                <h3>President: <span>Kaeden Bryer</span></h3>
                <p>Email: kaedenbryer&#64;oakland.edu</p>
                <p>About Bryer:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam omnis dolor quia repellat voluptate ipsa, molestias voluptas, optio ex aliquam nisi rem reiciendis nulla asperiores at libero. Sequi, repudiandae aspernatur!</p>
            </div>
            <div class="eboard-member">
                <h3>Vice-President: <span>Garrett Mabee</span></h3>
                <p>Email: gmmabee&#64;oakland.edu</p>
                <p>About Garrett:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam omnis dolor quia repellat voluptate ipsa, molestias voluptas, optio ex aliquam nisi rem reiciendis nulla asperiores at libero. Sequi, repudiandae aspernatur!</p>
            </div>
        </div>
        <div class="flex-row">
            <div class="eboard-member">
                <h3>Treasurer: <span>Moe Abbasi</span></h3>
                <p>Email: mrabbasi&#64;oakland.edu</p>
                <p>About Moe:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam omnis dolor quia repellat voluptate ipsa, molestias voluptas, optio ex aliquam nisi rem reiciendis nulla asperiores at libero. Sequi, repudiandae aspernatur!</p>
            </div>
            <div class="eboard-member">
                <h3>Secretary: <span>Andrew Hatch</span></h3>
                <p>Email: andrewhatch&#64;oakland.edu</p>
                <p>About Hatch:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam omnis dolor quia repellat voluptate ipsa, molestias voluptas, optio ex aliquam nisi rem reiciendis nulla asperiores at libero. Sequi, repudiandae aspernatur!</p>
            </div>
        </div>
    </div>
</div>
